/* Your styles here */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.tx-align {
  text-align: center;
}

.para {
  padding: 1rem;
  font-weight: 500;
}

.anchor {
  margin-left: 1rem;
  color: #17788b;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: bold;
}

header {
  background-color: #222f3f;
}

header img {
  width: 6rem;
  margin: 1rem 0 0.5rem 1rem;
}

header nav {
  color: #fff;
  background-color: #364757;
}

header nav ul li {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header nav ul li {
  margin-left: 1rem;
}

main {
  padding: 1rem;
  background-color: #e9edee;
}

#bg-y {
  background-color: #f56600;
  color: #fff;
  padding: 1rem 0;
  margin-top: 1rem;
}

#guides {
  background-image: url(../images/bg-image.png);
  background-position: center;
  color: #fff;
  padding: 3rem;
  margin-top: 2rem;
}

#guides h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#img-container {
  background-color: #fff;
  margin-top: 2rem;
}

#block-images div {
  display: inline-block;
  width: 22%;
  height: 445px;
  margin: 1rem;
  box-shadow: 6px 6px 10px 0px #cac6c6;
  border-radius: 20px;
}

#firstImage {
  background-image: url(../images/img_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#secondImage {
  background-image: url(../images/img_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#thirdImage {
  background-image: url(../images/img_3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#forthImage {
  background-image: url(../images/img_4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.special-shop {
  margin-top: 1rem;
}

.special-shop img {
  width: 100%;
}

footer {
  background-color: #222f3f;
}

footer p {
  background-color: #364757;
}

footer p a {
  color: #fff;
  font-weight: bold;
}

footer img {
  width: 20%;
  padding: 4rem;
}
