/* Your styles here */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #222f3f;
}

header img {
  width: 6rem;
  margin: 1rem 0 0.5rem 1rem;
}

header nav {
  color: #fff;
  background-color: #364757;
}

header nav ul li {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.5rem;
}

main {
  padding: 1rem;
  background-color: #e9edee;
}

#bg-y {
  background-color: #f56600;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

#main-text {
  background-image: url(../images/bg-image.png);
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 3rem;
  margin-top: 1rem;
}

#main-text h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#container {
  background-color: #fff;
  margin-top: 1.5rem;
}

#container p {
  padding: 1rem;
}

#container p a {
  margin-left: 1rem;
  color: #155c6a;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: bold;
}

#block-images {
  text-align: center;
}

#block-images div {
  display: inline-block;
  width: 22%;
  height: 445px;
  margin: 1rem;
  box-shadow: 6px 6px 10px 0px #cac6c6;
  border-radius: 10px;
}

#block-images div img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.special-shop {
  margin-top: 1rem;
  text-align: center;
}

.special-shop p {
  padding: 1rem;
}

.special-shop p a {
  margin-left: 1rem;
  color: #155c6a;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: bold;
}

.special-shop img {
  max-width: 100%;
}

footer {
  background-color: #222f3f;
  text-align: center;
}

footer p {
  background-color: #364757;
  padding: 1rem;
}

footer p a {
  color: #fff;
  font-weight: bold;
}

footer img {
  width: 20%;
  padding: 4rem;
}
